h1, p, ul {
    color: white;
}

body {
    font-family: "Raleway", sans-serif;
    background-image: url("images/redCinemaChairs.jpg");
    background-size: cover;
}

.rendered-posters {
    width: 20%;
    height: 20%;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(images/border.png) 30 round;
}

/* .bg-image {
    background-image: styles/images/filmBackground.jpg;
} */

